img{ width: 300px;height: 50px;}

*{text-align: center;}

.color-title{font-weight: normal;}

#red{color: red;}
#blue{color: blue;}
#orange{color: orange;}
#green{color: green;}
#yellow{color: yellow;}
